<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml"-->
      <!--xmlns:th="http://www.thymeleaf.org"-->
      <!--xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">-->
<!--<head th:replace="~{fragments/header :: header}">-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash; Page Content &ndash;&gt;-->
<!--<div class="container blog-content-container">-->

    <!--<div class="row">-->

        <!--&lt;!&ndash; 左侧栏目 &ndash;&gt;-->
        <!--<div class="col-md-4 col-xl-3">-->

            <!---->
	      <!--&lt;!&ndash; 分类 &ndash;&gt;-->
	        <!--<div class="card ">-->
	            <!--<h5 class="card-header"><i class="fa fa-bars" aria-hidden="true"></i> 菜单</h5>-->
	<!---->
	            <!--<ul class="list-group blog-menu" th:each="menu:${model.list}">-->
	                <!--<a href="" class="list-group-item active" title="waylau"-->
					   <!--th:title="${menu.name}" th:text="${menu.name}" th:attr="url=${menu.url}">-->

	                <!--</a>-->
	                <!--&lt;!&ndash;<a href="" class="list-group-item" title="waylau">&ndash;&gt;-->
	                    	<!--&lt;!&ndash;角色授权 &ndash;&gt;-->
	                <!--&lt;!&ndash;</a>&ndash;&gt;-->
	                <!--&lt;!&ndash;<a href="" class="list-group-item" title="waylau">&ndash;&gt;-->
	                   	<!--&lt;!&ndash;博客管理&ndash;&gt;-->
	                <!--&lt;!&ndash;</a>&ndash;&gt;-->
	                <!--&lt;!&ndash;<a href="" class="list-group-item" title="waylau">&ndash;&gt;-->
	                   	<!--&lt;!&ndash;评论管理&ndash;&gt;-->
	                <!--&lt;!&ndash;</a>&ndash;&gt;-->
	            <!--</ul>-->
	        <!--</div>-->
 <!---->
        <!--</div>-->
        <!---->
   <!---->

        <!--&lt;!&ndash; 右侧栏目 &ndash;&gt;-->


        <!--<div class="col-md-8 col-xl-9">-->
            <!--<div class="card" id="rightContainer">-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
		<!--&lt;!&ndash; /.row &ndash;&gt;-->

<!--</div>-->
<!--&lt;!&ndash; /.container &ndash;&gt;-->

<!--<script src="../../js/admin/main.js" th:src="@{/js/admins/main.js}"></script>-->
<!--<div th:replace="~{fragments/footer :: footer}">...</div>-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="~{fragments/header :: header}">
</head>
<body>
<!-- Page Content -->
<div class="container blog-content-container">

	<div class="row">

		<!-- 左侧栏目 -->
		<div class="col-md-4 col-xl-3">


			<!-- 分类 -->
			<div class="card ">
				<h5 class="card-header"><i class="fa fa-bars" aria-hidden="true"></i> 菜单</h5>

				<ul class="list-group blog-menu"  th:each="menu : ${model.list}">
					<a href="" class="list-group-item "  th:title="${menu.name}" th:text="${menu.name}"
					   data-th-attr="url=${menu.url}">
						用户管理
					</a>
				</ul>
			</div>

		</div>



		<!-- 右侧栏目 -->


		<div class="col-md-8 col-xl-9">
			<div class="card" id="rightContainer">
			</div>
		</div>
	</div>
	<!-- /.row -->

</div>
<!-- /.container -->



<div th:replace="~{fragments/footer :: footer}">...</div>

<!-- JavaScript -->
<script src="../../js/admins/main.js" th:src="@{/js/admins/main.js}"></script>

</body>
</html>